@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.carousel__container {
    position: relative;
    display: flex;
    margin: -300px auto auto auto;
    width: 100%;
    margin-top: 100px;
    overflow: hidden;
}

.carousel__slide {
    height: 500px;
    display: flex;
  
}

.slided {
    transition: transform 0.9s ease-in-out;
}

.carousel__image {
    width: 100vw;
    object-fit: cover;
    object-position:0px -300px;
    height: 500px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.carousel__image:nth-child(1){

    transform: matrix(-1, 0, 0, 1, 0, 0)  rotateY(180deg);
}

.dots {
    position: absolute;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 5;
}

.dot {
    background-color: black;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.dot__selected {
    width: 18px;
    height: 18px;
}

#carousel__logo {
    position: absolute;
    font-family: 'Italiana', serif;
    bottom: 40%;
    bottom:300px;
    left: 10%;
    font-size: 72px;
    text-shadow: 6px 8px 6px rgb(94, 94, 94);
    z-index: 5;
}

.shopnow {
    position: absolute;
    bottom: 30%;
    left: 10%;
    z-index: 1;
}

.shopnow__outer {
    border: 1px solid black;
    background-color: #ebebeb;
    padding: 10px 40px;
    font-size: 23px;
    cursor: pointer;
}
.shopnow__inner {
    position: absolute;
    border: 1px solid black;
    transform: translate(10%,-75%);
    width: 190px;
    height: 50px;
    overflow: hidden;
    z-index: -1;
}


@media only screen and (max-width: 1400px) {

    #carousel__logo {
        top: 80px;
    }

    .shopnow {
        top: 160px;
    }

    #carousel__logo {
        font-size: 46px;
    }

    .carousel__image {
        height: 240px;
    }

    .carousel__container {
        height: 240px;
    }

}