.favproduct {
    margin: 80px;
    display: flex;
    align-items: center;
    margin-left: 20%;
}

.fav__image {
    width: 300px;
}

.fav__info {
    margin-left: 50px;
}


.fav__remove {
    margin-top: 100px;
    border: 1px solid gray;
    padding: 6px 12px;
    display: inline-block;
    box-shadow: 1px 1px 2px gray;
    cursor: pointer;
}

.bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    height: 98.5%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.fav__image__container {
    position: relative;
}

.fav__image__container:hover > .bg{
    display: flex;
    cursor: pointer;
}
