html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--background);
    color: var(--main);
}

.header__inner {
    margin: auto;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book {
    display: flex;
    align-items: center;
    background-color: var(--main);
    color: var(--background);
    cursor: pointer;
    height: 70px;
    padding: 5px 30px 5px 10px;
}

.book:hover {
    background-color: #ab8356;
}

.d-flex {
    display: flex;
    align-items: center;
}
.langs {margin-right: 50px;}
.lang {
    margin-left: 20px;
    border: 1px solid var(--main);
    padding: 10px 13px;
    border-radius: 50%;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.57);
    text-decoration: none;
    
}
.book > h3 {font-weight: 400;}

.book:hover > h3 {
    animation: bookAnimation 0.5s;
}

@keyframes bookAnimation {
    from {margin-bottom: -50px;} 
    to {align-self: center;}
}


