@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

nav {
    box-shadow: 5px 5px 12px rgb(94, 94, 94);
    background-color: white;
    z-index: 5;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.header{
    position: fixed;
    z-index: 6;
    background-color: #ffffff88;
}
#logout {
    margin-right: 20px;
    cursor: pointer;
}

#logout:hover {
    text-decoration: underline;
}

.header__inner {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
   
    max-width: 1200px;
    flex: 1;
}

.header__left > h1 {
    padding: 10px;
    
    border: 1px solid black;
    cursor: pointer;
    font-size: 34px;
}

.header__left > *, .header__right > * {
    margin-right: 20px;
} 

.lang {
    padding: 5px 8px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.header__left, .header__right {
    display: flex;
    align-items: center;
    height: 90px;
}

.searchbar__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar {
    align-items: center;
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    margin-right: 5px;
    outline: none;
}

.profile {
    text-align: center;
}

.profile:hover > p {
    text-decoration: underline;
}

.header__right {
    align-items: baseline;
    padding-top: 20px;
   box-sizing: border-box;
}
.header__right > * {
    margin-left: 10px;
    cursor: pointer;
}

#login {
    margin-top: -5px;
}

#seach__icon {
    display: block;
}

.menu__icon {
    display: none;
    cursor: pointer;
}

.logo {
    width: 200px;
}

.header__right__resp {
    display: none;
    position: absolute;
    background-color: #ffffff;
    padding: 50px;
    right: 0;
    top: 110px;
    z-index: 6;
    animation: dropAnimation 0.3s ease-out;
}

.header__right__resp > * {
    margin-bottom: 20px;
    cursor: pointer;
}

@keyframes dropAnimation {
    from {
        right: -150px;
    } to {
        right: 0;
    }
}

@media only screen and (max-width: 1200px) {
    .header__right {
        display: none;
    }

    .menu__icon {
        display: block;
    }

    .searchbar {
        display: none;
    }

    .header__right__resp {
        flex-direction: column;
        align-items: center;
    }

    #search__icon {
        display: none;
    }

}




