@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.login__modal {
    background-color: white;
    border: 1px solid black;
    padding: 0 30px 30px 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 300px;
}

.modal__bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.login__modal > form {
    display: flex;
    flex-direction: column;
}

.login__modal > h1 {
    font-family: 'Italiana', serif;
    margin-bottom: 60px;
    text-align: center;
}

.login__modal > form > input{
    margin-bottom: 15px;
    padding: 12px 18px;
}

.login__modal > form > p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.login__modal > form > p > span {
    color: blue;
    cursor: pointer;
}

.login__modal > form > p > span:hover {
    text-decoration: underline;
}

#login__submit {
    padding: 10px;
    margin-bottom: 80px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}