.products {
    margin-bottom: 300px;
}

.products__inner {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.prod__types {
    display: flex;
    justify-content: space-between;
}

.prod__type {
    font-family: 'Italiana', serif;
    font-size: 26px;
    padding: 5px 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.prod__type:hover {
    border-bottom: 1px solid black;
}

.prod-type-selected {
    border-bottom: 1px solid black;
}

.products__list {
    display: flex;
    justify-content: space-between;
}

.prod__dots {
    position: relative;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 5;
}