.products {
    margin: 0 50px 300px 50px;
    display: flex;
    overflow: hidden;
    position: relative;
}

.products__inner {
    margin: auto;
    margin-top: 100px;
    overflow-x: auto;
}

.products__inner::-webkit-scrollbar { 
    background-color: red;
    height: 10px;
    width: 2px;
}

.products__inner::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.products__inner::-webkit-scrollbar-thumb {
    background: #888; 
    cursor: pointer;
}

.products__slide {
    display: flex;
}

.prod__types {
    display: flex;
    justify-content: space-between;
    position:absolute;
    top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.prod__type {
    font-family: 'Italiana', serif;
    font-size: 26px;
    padding: 5px 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.prod__type:hover {
    border-bottom: 1px solid black;
}

.prod-type-selected {
    border-bottom: 1px solid black;
}

.products__list {
    display: flex;
    justify-content: space-between;
}

.prod__dots {
    position: relative;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 5;
}