.product {
    display: inline-block;
    padding: 50px 0px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
    position: relative;
}

.sale-pointer {
    background-color: #ff4105;
    display: inline-block;
    color: white;
    position: absolute;
    top: 40px;
    right: -10px;
    padding: 8px 6px;
    z-index: 1;
}

.product__inner > p {
    font-size: 18px;
    margin-bottom: 5px;
}

.prod__img {
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
    width: 320px;
    height: 455px;
}

.bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    height: 98.5%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.prod__img:hover > .bg{
    display: flex;
}

.view {
    background: #107500;
    padding: 8px 30px;
    color: white;
    font-weight: 300;

}

.add-cart {
    font-size: 18px;
    display: inline-block;
    background-color: black;
    color: white;
    padding: 5px 40px;
    cursor: pointer;
}

.prod__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#product {
    width: 320px;
    height: 450px;
}

@media only screen and (max-width: 1200px) {
    #product {
        width: 200px;
        height: 300px;
    }

    .prod__img {
        width: 200px;
        height: 300px;
    }


    .add-cart {
        padding: 5px 20px;
        font-size: 14px;
    }
}