.names {
    display: flex;
    justify-content: space-between;
}

.register__modal > form {
    display: flex;
    flex-direction: column;
}

.names > div > input {
    margin-bottom: 15px;
    padding: 12px 16px;    
}

.register__modal > form > input{
    margin-bottom: 15px;
    padding: 12px 18px;
}

.register__modal {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 450px;
    box-shadow: 0px 0px 12px rgb(125, 125, 125);
}

.modal__bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.register__modal > h1 {
    font-family: 'Italiana', serif;
    margin-bottom: 60px;
    text-align: center;
}

#register__submit {
    color: white;
    background-color: black;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.register__success {
    color: white;
    text-align: center;
    padding: 50px 0;
    background-color: #4bb543;
    border-radius: 20px 20px 0 0;
}

.register__verify {
    margin-top: 0px;
    padding: 80px 30px;
    border-radius: 0 0 20px 20px;
}

.btn-verify {
    background-color: #4bb543;
    display: inline-block;
    padding: 8px 60px;
    margin-top: 20px;
    color: white;
}

